<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ metas.site }}</title>
  <link rel="stylesheet" href="/assets/style.css">
  {{# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> #}}
  <link rel="alternate" type="application/atom+xml" href="/atom.xml">
</head>
<body class="b1-bg">

  {{ include "partials/header.vto" }}

	<div class="b6-bg">
		<div class="holder padded tallpadded">
		  {{ content |> safe }}
		</div>
	</div>

  {{ include "partials/footer.vto" }}
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
</body>
</html>