---
title: Blogs
navorder: 20
colour: 'b2-bg'
---
<h3>Open Innovations</h3>
<ul>
    <li><a href="https://open-innovations.org/blog/2024-10-29-transport-accessibility-in-2024-part-1">Transport Accessibility in 2024 - How did we get here?</a></li>
    <li><a href="https://open-innovations.org/blog/2024-09-23-project-launch-techuk-local-digital-index">Project Launch: techUK Local Digital Index</a></li>
    <li><a href="https://open-innovations.org/blog/2024-08-28-building-a-housing-data-explorer">Building A Housing Data Explorer</a></li>
    <li><a href="https://open-innovations.org/blog/2024-07-22-the-world-of-housing">The World of Housing</a></li>
    <li><a href="https://open-innovations.org/blog/2024-07-02-true-north-data-explorer">Launching The True North Data Explorer</a></li>
    <li><a href="https://open-innovations.org/blog/2023-09-22-my-first-6-months-at-open-innovations">6 months at Open Innovations</a></li>
    <li><a href="https://open-innovations.org/blog/2023-08-14-open-travel-emissions-data">Open Travel Emissions Data</a></li>
    <li><a href="https://open-innovations.org/blog/2023-07-25-cleaning-up-carbon-emissions-data">Cleaning-up Carbon Emissions Data</a></li>
    <li><a href="https://open-innovations.org/blog/2023-05-16-can-data-fix-poverty">Can Data Fix Poverty?</a></li>
    <li><a href="https://open-innovations.org/blog/2023-04-13-what-does-lsip-stand-for-">What does LSIP stand for?</a></li>
</ul>
<h3>Personal</h3>
<p>Coming soon...</p>