---
title: Professional Portfolio/CV
navorder: 1
colour: 'b1-bg'
---
{{# Need to add dates #}}
{{# Would work better as panes with title, link, skills, and an image #}}
<p>Here's a <a href="https://docs.google.com/document/d/1a3LsS__a_BNr7TczkjzbbzyeIGtMBmGS4VL_mJuBGhk/edit?usp=sharing">link to my CV</a>.</p>
<h2>Open Innovations (Leeds)</h2>
{{# <p>March 2023 - October 2023, May 2024 - present <p> #}}
<h3>Data Visualisation Websites</h3>
<p>A list of data infrastructure I've worked on at Open Innovations. The links are to the visualisation websites, but there's a lot of work to build and automate (where necessary) data pipelines too. These can be found in the respective GitHub repositories and are predominantly written in Python (increasingly using Jupyter notebooks to aid documentation). Static sites built with <a href="https://lume.land">Lume</a>. Progressively enhanced with JavaScript to add interactivity and accessibility for screen readers.</p>
<ul>
    <li><a href="https://thedatacity.github.io/techUK-ldi-website/">techUK Local Digital Index</a></li>
    <li><a href="https://open-innovations.github.io/housing/">Open Housing Data Explorer</a></li>
    <li><a href="https://ge2024.hexmap.uk/">2024 General Election Tracker</a></li>
    <li><a href="https://open-innovations.github.io/true-north/">True North Data Explorer</a></li>
    <li><a href="https://constituencies.open-innovations.org/">Constituency Hex Maps</a></li>
    <li><a href="https://open-innovations.github.io/jrf-insight/">Northern England Insight Finder</a></li>
    <li><a href="https://data.youthfuturesfoundation.org/">Youth Futures Foundation Data Dashboard</a></li>
</ul>

<h3>Tracking every bus in the UK</h3>
<p>
    Taking live location data of every bus in the UK over a given period (GTFS-Realtime) 
    from the Bus Open Data Service and updating the timetable (GTFS) to show what actually ran and how long it took.
    The plan is then to make travel time isochrone like in <a href="https://open-innovations.org/blog/2023-04-20-transport-in-2023">this work</a>.
    What's new is that I'm rewriting the code from C# to Python, and using the open standard GTFS-RT feed as opposed to Siri-VM.
    This should make the work more accessible.
<ul>
    <li><a href="https://github.com/open-innovations/bus-tracking">The GitHub repo</a></li>
</ul>
<h2>Integrated Master's Research Project (University of Birmingham)</h2>
<h3>Fast Posterior Density Estimates for Binary Black Hole Mergers</h3>
{{# <h3>Blogs</h3> #}}
{{# Add blogs here #}}